{% extends "base.html" %}

{% block title %} All Employee {% endblock %}
{% block content %}
<h1>Remove an Employee</h1>
<hr>
<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    All Employees
  </a>

  <ul class="dropdown-menu">
    {% for emp in all_emp %}
    <li><a class="dropdown-item delete_item" href="/remove_emp/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}